:root{
    --heading-font: ;
    --heading-color: ;
    --heading-font-size: ;

    --text-font: ;
    --text-color: ;
    --text-font-size: ;

    --primary-color: ;
    --secundairy-color: ;
    --highlight-color: ;

    
}