:root {
    --body-bg: #030305;
    --primary-accent: #6d28d9; 
    --secondary-accent: #06b6d4; 
    --text-main: #ffffff;
    --text-muted: #a1a1aa;
    
 
    --heading-font: 'Orbitron', sans-serif;
    --body-font: 'Inter', sans-serif;
}


.gradient-text {
    background: linear-gradient(90deg, var(--secondary-accent), var(--primary-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    padding: 1rem 2rem;
    background: transparent;
    border: 1px solid var(--secondary-accent);
    color: white;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 0.9rem;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.btn-primary:hover {
    background: var(--secondary-accent);
    box-shadow: 0 0 30px var(--secondary-accent);
    color: #000;
}

